/*321321321*/
.a {
    width: 100px;
}

.b {
    width: 100px;
}

body {
    background-color: #DDD;
}


/*321321321*/
.a {
    width: 100px;
}

.b {
    width: 100px;
}

body {
    background-color: #DDD;
}

/*321321321*/
.a {
    width: 100px;
}

.b {
    width: 100px;
}

body {
    background-color: #DDD;
}